/* Default HTML Overrides */

html {
  overflow-y:scroll;
  height: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

input[type=text]:focus {
  outline: none;
}

button  {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.5em 1.0em;
  background-color: #222;
  color:#ccc;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover, input[type=submit]:hover {
  color:white;
  background-color: #444;
}